﻿@{
    ViewBag.Title = "QuickOrder Supplier-Customer Admin Portal";
}

<div class="jumbotron">
    <h1>QuickOrder Customers</h1>
    <p class="lead">Shows customer data stored in Cassandra.</a></p>
</div>

<div>
    @Html.ActionLink("List of customers", "Index", "SupplierCustomer")<br />
</div>