﻿@model QuickOrderCustomerViewer.Tables.SupplierCustomer

@{
    ViewBag.Title = @Html.DisplayFor(model => model.customerName);
}

<h2>@ViewBag.Title</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.customerNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.customerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.branchID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.custAuthCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.custAuthDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.subsidizationEndDate)
        </th>
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(model => model.customerNo)
        </td>
        <td>
            @Html.DisplayFor(model => model.customerName)
        </td>
        <td>
            @Html.DisplayFor(model => model.branchID)
        </td>
        <td>
            @Html.DisplayFor(model => model.custAuthCode)
        </td>
        <td>
            @Html.DisplayFor(model => model.custAuthDate)
        </td>
        <td>
            @Html.DisplayFor(model => model.subsidizationEndDate)
        </td>
    </tr>
</table>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.supplierID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.supplierName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.paidUsers)
        </th>
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(model => model.supplierID)
        </td>
        <td>
            @Html.DisplayFor(model => model.supplierName)
        </td>
        <td>
            @Html.DisplayFor(model => model.paidUsers)
        </td>
    </tr>
</table>
