﻿@model IEnumerable<QuickOrderCustomerViewer.Tables.SupplierCustomer>

@{
    ViewBag.Title = "Customer Supplier Index";
}

<h2>@ViewBag.Title</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.customerNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.customerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.branchID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.custAuthCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.custAuthDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.subsidizationEndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.supplierName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.paidUsers)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.customerNo)
        </td>
        <td>
            @Html.ActionLink(item.customerName, "CustomerDetails", new { item.customerNo, item.supplierID })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.branchID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.custAuthCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.custAuthDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.subsidizationEndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.supplierName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.paidUsers)
        </td>
        <!--<td>
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
        </td>-->
    </tr>
}

</table>
